.venv
__pycache__
temp_certs
*.pyc
.idea/workspace.xml
.idea/gateway-chatbot.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/vcs.xml
